<div class="form__input-group form__input-group--with-action" data-dosage-options-target="option">
  <input type="number" name="medicine[dosage_options_attributes][NEW_RECORD][amount]" id="medicine_dosage_additional" class="form__input form__input--number" placeholder="Amount" />
  <button type="button" class="button button--danger button--small" data-action="click->dosage-options#remove">Remove</button>
  <input type="hidden" name="medicine[dosage_options_attributes][NEW_RECORD][_destroy]" id="medicine_dosage_additional_destroy" value="false" />
</div>
