<div>
  <div>
    <h1>Medicine Finder</h1>

    <div>
      <div>
        <input type="text"

               placeholder="Search for medicines..."
               data-test-id="medicine-search-input">
        <div>
          <button>
            Search
          </button>
        </div>
      </div>

      <p>
        Search for medicines by name or active ingredient. Results will be provided by an online medicine database.
      </p>
    </div>

    <div>
      <p>
        This feature is coming soon! We'll integrate with a medicine database API to provide detailed information about medications.
      </p>
    </div>
  </div>
</div>
