1. When adding fixtures check all fixtures.
2. When adding fixtures check that the data is logical.
3. When adding fixtures check that there will be no duplicates.
4. When adding fixtures check that the data is valid.
5. When adding fixtures check that the relationships are valid.
6. When adding fixtures check that there will be no foreign keys that are not part of the relationship.
7. We are using propshaft for static assets.
