<div class="container">
  <%= link_to "New Person", new_person_path, data: { turbo_frame: "person_modal" } %>

  <%= turbo_frame_tag "person_modal" %>

  <div class="item-grid" id="people">
	<% @people.each do |person| %>
	  <%= render "person", person: person %>
	<% end %>
  </div>
</div>
