<div class="container">
  <% if notice %>
	<div class="alert alert--success">
	  <span><%= notice %></span>
	</div>
  <% end %>

  <div class="page-header">
	<h1 class="page-title">People</h1>
	<%= link_to "Add Person", new_person_path,
		class: "button button--primary",
		data: { turbo_stream: true } %>
  </div>

  <div class="item-grid" id="people">
	<% @people.each do |person| %>
	  <%= render "person", person: person %>
	<% end %>
  </div>

  <div id="modal"></div>
</div>
