<div class="container">
  <div class="page-header">
    <h1 class="page-title">New Prescription for <%= @person.name %></h1>
  </div>

  <%= render "form", prescription: @prescription, inline: false, medicines: @medicines %>

  <div class="form__actions">
    <%= link_to "Back", person_path(@person), class: "button button--secondary" %>
  </div>
</div>
