/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package io.medtracker.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import io.medtracker.client.models.ErrorEnvelope
import io.medtracker.client.models.MedicationReviewPromptCollectionResponse
import io.medtracker.client.models.MedicationReviewPromptResponse
import io.medtracker.client.models.MedicationReviewPromptUpdateRequest
import io.medtracker.client.models.RateLimitErrorEnvelope

import com.squareup.moshi.Json

import io.medtracker.client.infrastructure.ApiClient
import io.medtracker.client.infrastructure.ApiResponse
import io.medtracker.client.infrastructure.ClientException
import io.medtracker.client.infrastructure.ClientError
import io.medtracker.client.infrastructure.ServerException
import io.medtracker.client.infrastructure.ServerError
import io.medtracker.client.infrastructure.MultiValueMap
import io.medtracker.client.infrastructure.PartConfig
import io.medtracker.client.infrastructure.RequestConfig
import io.medtracker.client.infrastructure.RequestMethod
import io.medtracker.client.infrastructure.ResponseType
import io.medtracker.client.infrastructure.Success
import io.medtracker.client.infrastructure.toMultiValue

open class MedicationReviewsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "/api/v1")
        }
    }

    /**
     * GET /households/{household_id}/medication_review_prompts/{id}
     * Read a review snapshot and its current version.
     * 
     * @param householdId 
     * @param id 
     * @return MedicationReviewPromptResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getMedicationReviewPrompt(householdId: kotlin.Int, id: kotlin.String) : MedicationReviewPromptResponse {
        val localVarResponse = getMedicationReviewPromptWithHttpInfo(householdId = householdId, id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MedicationReviewPromptResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /households/{household_id}/medication_review_prompts/{id}
     * Read a review snapshot and its current version.
     * 
     * @param householdId 
     * @param id 
     * @return ApiResponse<MedicationReviewPromptResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getMedicationReviewPromptWithHttpInfo(householdId: kotlin.Int, id: kotlin.String) : ApiResponse<MedicationReviewPromptResponse?> {
        val localVariableConfig = getMedicationReviewPromptRequestConfig(householdId = householdId, id = id)

        return request<Unit, MedicationReviewPromptResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getMedicationReviewPrompt
     *
     * @param householdId 
     * @param id 
     * @return RequestConfig
     */
    fun getMedicationReviewPromptRequestConfig(householdId: kotlin.Int, id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/households/{household_id}/medication_review_prompts/{id}".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())).replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter reviewStatus
     */
     enum class ReviewStatusListMedicationReviewPrompts(val value: kotlin.String) {
         @Json(name = "needs_review") needs_review("needs_review"),
         @Json(name = "reviewed") reviewed("reviewed"),
         @Json(name = "all") all("all"),
         @Json(name = "unknown_default_open_api") unknown_default_open_api("unknown_default_open_api");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter priority
     */
     enum class PriorityListMedicationReviewPrompts(val value: kotlin.String) {
         @Json(name = "all") all("all"),
         @Json(name = "discuss_soon") discuss_soon("discuss_soon"),
         @Json(name = "ask_when_convenient") ask_when_convenient("ask_when_convenient"),
         @Json(name = "low_confidence") low_confidence("low_confidence"),
         @Json(name = "unknown_default_open_api") unknown_default_open_api("unknown_default_open_api");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter showHidden
     */
     enum class ShowHiddenListMedicationReviewPrompts(val value: kotlin.String) {
         @Json(name = "0") _0("0"),
         @Json(name = "1") _1("1"),
         @Json(name = "unknown_default_open_api") unknown_default_open_api("unknown_default_open_api");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /households/{household_id}/medication_review_prompts
     * List authorised evidence review snapshots with the existing queue filters.
     * 
     * @param householdId 
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param reviewStatus  (optional, default to ReviewStatus.needs_review)
     * @param priority  (optional, default to Priority.all)
     * @param showHidden  (optional, default to ShowHidden._0)
     * @return MedicationReviewPromptCollectionResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listMedicationReviewPrompts(householdId: kotlin.Int, page: kotlin.Int? = 1, perPage: kotlin.Int? = 20, reviewStatus: ReviewStatusListMedicationReviewPrompts? = ReviewStatusListMedicationReviewPrompts.needs_review, priority: PriorityListMedicationReviewPrompts? = PriorityListMedicationReviewPrompts.all, showHidden: ShowHiddenListMedicationReviewPrompts? = ShowHiddenListMedicationReviewPrompts._0) : MedicationReviewPromptCollectionResponse {
        val localVarResponse = listMedicationReviewPromptsWithHttpInfo(householdId = householdId, page = page, perPage = perPage, reviewStatus = reviewStatus, priority = priority, showHidden = showHidden)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MedicationReviewPromptCollectionResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /households/{household_id}/medication_review_prompts
     * List authorised evidence review snapshots with the existing queue filters.
     * 
     * @param householdId 
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param reviewStatus  (optional, default to ReviewStatus.needs_review)
     * @param priority  (optional, default to Priority.all)
     * @param showHidden  (optional, default to ShowHidden._0)
     * @return ApiResponse<MedicationReviewPromptCollectionResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listMedicationReviewPromptsWithHttpInfo(householdId: kotlin.Int, page: kotlin.Int?, perPage: kotlin.Int?, reviewStatus: ReviewStatusListMedicationReviewPrompts?, priority: PriorityListMedicationReviewPrompts?, showHidden: ShowHiddenListMedicationReviewPrompts?) : ApiResponse<MedicationReviewPromptCollectionResponse?> {
        val localVariableConfig = listMedicationReviewPromptsRequestConfig(householdId = householdId, page = page, perPage = perPage, reviewStatus = reviewStatus, priority = priority, showHidden = showHidden)

        return request<Unit, MedicationReviewPromptCollectionResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listMedicationReviewPrompts
     *
     * @param householdId 
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param reviewStatus  (optional, default to ReviewStatus.needs_review)
     * @param priority  (optional, default to Priority.all)
     * @param showHidden  (optional, default to ShowHidden._0)
     * @return RequestConfig
     */
    fun listMedicationReviewPromptsRequestConfig(householdId: kotlin.Int, page: kotlin.Int?, perPage: kotlin.Int?, reviewStatus: ReviewStatusListMedicationReviewPrompts?, priority: PriorityListMedicationReviewPrompts?, showHidden: ShowHiddenListMedicationReviewPrompts?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (perPage != null) {
                    put("per_page", listOf(perPage.toString()))
                }
                if (reviewStatus != null) {
                    put("review_status", listOf(reviewStatus.value))
                }
                if (priority != null) {
                    put("priority", listOf(priority.value))
                }
                if (showHidden != null) {
                    put("show_hidden", listOf(showHidden.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/households/{household_id}/medication_review_prompts".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /households/{household_id}/medication_review_prompts/{id}
     * Record an audited practitioner review without changing evidence.
     * 
     * @param householdId 
     * @param id 
     * @param ifMatch 
     * @param medicationReviewPromptUpdateRequest 
     * @return MedicationReviewPromptResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateMedicationReviewPrompt(householdId: kotlin.Int, id: kotlin.String, ifMatch: kotlin.String, medicationReviewPromptUpdateRequest: MedicationReviewPromptUpdateRequest) : MedicationReviewPromptResponse {
        val localVarResponse = updateMedicationReviewPromptWithHttpInfo(householdId = householdId, id = id, ifMatch = ifMatch, medicationReviewPromptUpdateRequest = medicationReviewPromptUpdateRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MedicationReviewPromptResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /households/{household_id}/medication_review_prompts/{id}
     * Record an audited practitioner review without changing evidence.
     * 
     * @param householdId 
     * @param id 
     * @param ifMatch 
     * @param medicationReviewPromptUpdateRequest 
     * @return ApiResponse<MedicationReviewPromptResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateMedicationReviewPromptWithHttpInfo(householdId: kotlin.Int, id: kotlin.String, ifMatch: kotlin.String, medicationReviewPromptUpdateRequest: MedicationReviewPromptUpdateRequest) : ApiResponse<MedicationReviewPromptResponse?> {
        val localVariableConfig = updateMedicationReviewPromptRequestConfig(householdId = householdId, id = id, ifMatch = ifMatch, medicationReviewPromptUpdateRequest = medicationReviewPromptUpdateRequest)

        return request<MedicationReviewPromptUpdateRequest, MedicationReviewPromptResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateMedicationReviewPrompt
     *
     * @param householdId 
     * @param id 
     * @param ifMatch 
     * @param medicationReviewPromptUpdateRequest 
     * @return RequestConfig
     */
    fun updateMedicationReviewPromptRequestConfig(householdId: kotlin.Int, id: kotlin.String, ifMatch: kotlin.String, medicationReviewPromptUpdateRequest: MedicationReviewPromptUpdateRequest) : RequestConfig<MedicationReviewPromptUpdateRequest> {
        val localVariableBody = medicationReviewPromptUpdateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        ifMatch.apply { localVariableHeaders["If-Match"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/households/{household_id}/medication_review_prompts/{id}".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())).replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /households/{household_id}/medication_review_prompts/{id}
     * Record an audited practitioner review without changing evidence.
     * 
     * @param householdId 
     * @param id 
     * @param ifMatch 
     * @param medicationReviewPromptUpdateRequest 
     * @return MedicationReviewPromptResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateMedicationReviewPromptWithPut(householdId: kotlin.Int, id: kotlin.String, ifMatch: kotlin.String, medicationReviewPromptUpdateRequest: MedicationReviewPromptUpdateRequest) : MedicationReviewPromptResponse {
        val localVarResponse = updateMedicationReviewPromptWithPutWithHttpInfo(householdId = householdId, id = id, ifMatch = ifMatch, medicationReviewPromptUpdateRequest = medicationReviewPromptUpdateRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MedicationReviewPromptResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /households/{household_id}/medication_review_prompts/{id}
     * Record an audited practitioner review without changing evidence.
     * 
     * @param householdId 
     * @param id 
     * @param ifMatch 
     * @param medicationReviewPromptUpdateRequest 
     * @return ApiResponse<MedicationReviewPromptResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateMedicationReviewPromptWithPutWithHttpInfo(householdId: kotlin.Int, id: kotlin.String, ifMatch: kotlin.String, medicationReviewPromptUpdateRequest: MedicationReviewPromptUpdateRequest) : ApiResponse<MedicationReviewPromptResponse?> {
        val localVariableConfig = updateMedicationReviewPromptWithPutRequestConfig(householdId = householdId, id = id, ifMatch = ifMatch, medicationReviewPromptUpdateRequest = medicationReviewPromptUpdateRequest)

        return request<MedicationReviewPromptUpdateRequest, MedicationReviewPromptResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateMedicationReviewPromptWithPut
     *
     * @param householdId 
     * @param id 
     * @param ifMatch 
     * @param medicationReviewPromptUpdateRequest 
     * @return RequestConfig
     */
    fun updateMedicationReviewPromptWithPutRequestConfig(householdId: kotlin.Int, id: kotlin.String, ifMatch: kotlin.String, medicationReviewPromptUpdateRequest: MedicationReviewPromptUpdateRequest) : RequestConfig<MedicationReviewPromptUpdateRequest> {
        val localVariableBody = medicationReviewPromptUpdateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        ifMatch.apply { localVariableHeaders["If-Match"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/households/{household_id}/medication_review_prompts/{id}".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())).replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
