/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package io.medtracker.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import io.medtracker.client.models.DoseNotTakenRequest
import io.medtracker.client.models.DoseOccurrenceCollectionResponse
import io.medtracker.client.models.DoseOccurrenceResponse
import io.medtracker.client.models.DoseReopenRequest
import io.medtracker.client.models.DoseTakeRequest
import io.medtracker.client.models.ErrorEnvelope
import io.medtracker.client.models.PersonMedicationCollectionResponse
import io.medtracker.client.models.PersonMedicationCreateRequest
import io.medtracker.client.models.PersonMedicationReorderRequest
import io.medtracker.client.models.PersonMedicationResponse
import io.medtracker.client.models.PersonMedicationUpdateRequest
import io.medtracker.client.models.RateLimitErrorEnvelope

import com.squareup.moshi.Json

import io.medtracker.client.infrastructure.ApiClient
import io.medtracker.client.infrastructure.ApiResponse
import io.medtracker.client.infrastructure.ClientException
import io.medtracker.client.infrastructure.ClientError
import io.medtracker.client.infrastructure.ServerException
import io.medtracker.client.infrastructure.ServerError
import io.medtracker.client.infrastructure.MultiValueMap
import io.medtracker.client.infrastructure.PartConfig
import io.medtracker.client.infrastructure.RequestConfig
import io.medtracker.client.infrastructure.RequestMethod
import io.medtracker.client.infrastructure.ResponseType
import io.medtracker.client.infrastructure.Success
import io.medtracker.client.infrastructure.toMultiValue

open class PersonMedicationsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "/api/v1")
        }
    }

    /**
     * POST /households/{household_id}/person_medications
     * Create a person medication assignment.
     * 
     * @param householdId 
     * @param personMedicationCreateRequest 
     * @return PersonMedicationResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createPersonMedication(householdId: kotlin.Int, personMedicationCreateRequest: PersonMedicationCreateRequest) : PersonMedicationResponse {
        val localVarResponse = createPersonMedicationWithHttpInfo(householdId = householdId, personMedicationCreateRequest = personMedicationCreateRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PersonMedicationResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /households/{household_id}/person_medications
     * Create a person medication assignment.
     * 
     * @param householdId 
     * @param personMedicationCreateRequest 
     * @return ApiResponse<PersonMedicationResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createPersonMedicationWithHttpInfo(householdId: kotlin.Int, personMedicationCreateRequest: PersonMedicationCreateRequest) : ApiResponse<PersonMedicationResponse?> {
        val localVariableConfig = createPersonMedicationRequestConfig(householdId = householdId, personMedicationCreateRequest = personMedicationCreateRequest)

        return request<PersonMedicationCreateRequest, PersonMedicationResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createPersonMedication
     *
     * @param householdId 
     * @param personMedicationCreateRequest 
     * @return RequestConfig
     */
    fun createPersonMedicationRequestConfig(householdId: kotlin.Int, personMedicationCreateRequest: PersonMedicationCreateRequest) : RequestConfig<PersonMedicationCreateRequest> {
        val localVariableBody = personMedicationCreateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/households/{household_id}/person_medications".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /households/{household_id}/person_medications/{id}
     * Read a person medication assignment.
     * 
     * @param householdId 
     * @param id 
     * @return PersonMedicationResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getPersonMedication(householdId: kotlin.Int, id: kotlin.String) : PersonMedicationResponse {
        val localVarResponse = getPersonMedicationWithHttpInfo(householdId = householdId, id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PersonMedicationResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /households/{household_id}/person_medications/{id}
     * Read a person medication assignment.
     * 
     * @param householdId 
     * @param id 
     * @return ApiResponse<PersonMedicationResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getPersonMedicationWithHttpInfo(householdId: kotlin.Int, id: kotlin.String) : ApiResponse<PersonMedicationResponse?> {
        val localVariableConfig = getPersonMedicationRequestConfig(householdId = householdId, id = id)

        return request<Unit, PersonMedicationResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getPersonMedication
     *
     * @param householdId 
     * @param id 
     * @return RequestConfig
     */
    fun getPersonMedicationRequestConfig(householdId: kotlin.Int, id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/households/{household_id}/person_medications/{id}".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())).replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /households/{household_id}/person_medications/{person_medication_id}/dose_occurrences
     * Read stable expected dose identities without creating history records.
     * 
     * @param householdId 
     * @param personMedicationId 
     * @param startDate 
     * @param endDate Inclusive end date; the range must contain at most 31 days.
     * @return DoseOccurrenceCollectionResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listPersonMedicationDoseOccurrences(householdId: kotlin.Int, personMedicationId: kotlin.String, startDate: java.time.LocalDate, endDate: java.time.LocalDate) : DoseOccurrenceCollectionResponse {
        val localVarResponse = listPersonMedicationDoseOccurrencesWithHttpInfo(householdId = householdId, personMedicationId = personMedicationId, startDate = startDate, endDate = endDate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DoseOccurrenceCollectionResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /households/{household_id}/person_medications/{person_medication_id}/dose_occurrences
     * Read stable expected dose identities without creating history records.
     * 
     * @param householdId 
     * @param personMedicationId 
     * @param startDate 
     * @param endDate Inclusive end date; the range must contain at most 31 days.
     * @return ApiResponse<DoseOccurrenceCollectionResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listPersonMedicationDoseOccurrencesWithHttpInfo(householdId: kotlin.Int, personMedicationId: kotlin.String, startDate: java.time.LocalDate, endDate: java.time.LocalDate) : ApiResponse<DoseOccurrenceCollectionResponse?> {
        val localVariableConfig = listPersonMedicationDoseOccurrencesRequestConfig(householdId = householdId, personMedicationId = personMedicationId, startDate = startDate, endDate = endDate)

        return request<Unit, DoseOccurrenceCollectionResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listPersonMedicationDoseOccurrences
     *
     * @param householdId 
     * @param personMedicationId 
     * @param startDate 
     * @param endDate Inclusive end date; the range must contain at most 31 days.
     * @return RequestConfig
     */
    fun listPersonMedicationDoseOccurrencesRequestConfig(householdId: kotlin.Int, personMedicationId: kotlin.String, startDate: java.time.LocalDate, endDate: java.time.LocalDate) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("start_date", listOf(parseDateToQueryString(startDate)))
                put("end_date", listOf(parseDateToQueryString(endDate)))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/households/{household_id}/person_medications/{person_medication_id}/dose_occurrences".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())).replace("{"+"person_medication_id"+"}", encodeURIComponent(personMedicationId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /households/{household_id}/person_medications
     * List visible person medication assignments.
     * 
     * @param householdId 
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param updatedSince  (optional)
     * @return PersonMedicationCollectionResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listPersonMedications(householdId: kotlin.Int, page: kotlin.Int? = 1, perPage: kotlin.Int? = 20, updatedSince: java.time.OffsetDateTime? = null) : PersonMedicationCollectionResponse {
        val localVarResponse = listPersonMedicationsWithHttpInfo(householdId = householdId, page = page, perPage = perPage, updatedSince = updatedSince)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PersonMedicationCollectionResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /households/{household_id}/person_medications
     * List visible person medication assignments.
     * 
     * @param householdId 
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param updatedSince  (optional)
     * @return ApiResponse<PersonMedicationCollectionResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listPersonMedicationsWithHttpInfo(householdId: kotlin.Int, page: kotlin.Int?, perPage: kotlin.Int?, updatedSince: java.time.OffsetDateTime?) : ApiResponse<PersonMedicationCollectionResponse?> {
        val localVariableConfig = listPersonMedicationsRequestConfig(householdId = householdId, page = page, perPage = perPage, updatedSince = updatedSince)

        return request<Unit, PersonMedicationCollectionResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listPersonMedications
     *
     * @param householdId 
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param updatedSince  (optional)
     * @return RequestConfig
     */
    fun listPersonMedicationsRequestConfig(householdId: kotlin.Int, page: kotlin.Int?, perPage: kotlin.Int?, updatedSince: java.time.OffsetDateTime?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (perPage != null) {
                    put("per_page", listOf(perPage.toString()))
                }
                if (updatedSince != null) {
                    put("updated_since", listOf(parseDateToQueryString(updatedSince)))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/households/{household_id}/person_medications".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /households/{household_id}/person_medications/{id}/pause
     * Pause a person medication assignment.
     * Use createMedicationPausePeriod. Retained for at least two minor releases and 90 days after the first released replacement. Legacy pause calls record reason_not_recorded.
     * @param householdId 
     * @param id 
     * @return PersonMedicationResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    @Deprecated(message = "This operation is deprecated.")
    fun pausePersonMedication(householdId: kotlin.Int, id: kotlin.String) : PersonMedicationResponse {
        @Suppress("DEPRECATION")
        val localVarResponse = pausePersonMedicationWithHttpInfo(householdId = householdId, id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PersonMedicationResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /households/{household_id}/person_medications/{id}/pause
     * Pause a person medication assignment.
     * Use createMedicationPausePeriod. Retained for at least two minor releases and 90 days after the first released replacement. Legacy pause calls record reason_not_recorded.
     * @param householdId 
     * @param id 
     * @return ApiResponse<PersonMedicationResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    @Deprecated(message = "This operation is deprecated.")
    fun pausePersonMedicationWithHttpInfo(householdId: kotlin.Int, id: kotlin.String) : ApiResponse<PersonMedicationResponse?> {
        @Suppress("DEPRECATION")
        val localVariableConfig = pausePersonMedicationRequestConfig(householdId = householdId, id = id)

        return request<Unit, PersonMedicationResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation pausePersonMedication
     *
     * @param householdId 
     * @param id 
     * @return RequestConfig
     */
    @Deprecated(message = "This operation is deprecated.")
    fun pausePersonMedicationRequestConfig(householdId: kotlin.Int, id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/households/{household_id}/person_medications/{id}/pause".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())).replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /households/{household_id}/person_medications/{person_medication_id}/dose_occurrences/not_taken
     * Record due non-administration without creating a take or reducing stock.
     * 
     * @param householdId 
     * @param personMedicationId 
     * @param doseNotTakenRequest 
     * @param idempotencyKey  (optional)
     * @return DoseOccurrenceResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun recordPersonMedicationDoseNotTaken(householdId: kotlin.Int, personMedicationId: kotlin.String, doseNotTakenRequest: DoseNotTakenRequest, idempotencyKey: kotlin.String? = null) : DoseOccurrenceResponse {
        val localVarResponse = recordPersonMedicationDoseNotTakenWithHttpInfo(householdId = householdId, personMedicationId = personMedicationId, doseNotTakenRequest = doseNotTakenRequest, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DoseOccurrenceResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /households/{household_id}/person_medications/{person_medication_id}/dose_occurrences/not_taken
     * Record due non-administration without creating a take or reducing stock.
     * 
     * @param householdId 
     * @param personMedicationId 
     * @param doseNotTakenRequest 
     * @param idempotencyKey  (optional)
     * @return ApiResponse<DoseOccurrenceResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun recordPersonMedicationDoseNotTakenWithHttpInfo(householdId: kotlin.Int, personMedicationId: kotlin.String, doseNotTakenRequest: DoseNotTakenRequest, idempotencyKey: kotlin.String?) : ApiResponse<DoseOccurrenceResponse?> {
        val localVariableConfig = recordPersonMedicationDoseNotTakenRequestConfig(householdId = householdId, personMedicationId = personMedicationId, doseNotTakenRequest = doseNotTakenRequest, idempotencyKey = idempotencyKey)

        return request<DoseNotTakenRequest, DoseOccurrenceResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation recordPersonMedicationDoseNotTaken
     *
     * @param householdId 
     * @param personMedicationId 
     * @param doseNotTakenRequest 
     * @param idempotencyKey  (optional)
     * @return RequestConfig
     */
    fun recordPersonMedicationDoseNotTakenRequestConfig(householdId: kotlin.Int, personMedicationId: kotlin.String, doseNotTakenRequest: DoseNotTakenRequest, idempotencyKey: kotlin.String?) : RequestConfig<DoseNotTakenRequest> {
        val localVariableBody = doseNotTakenRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/households/{household_id}/person_medications/{person_medication_id}/dose_occurrences/not_taken".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())).replace("{"+"person_medication_id"+"}", encodeURIComponent(personMedicationId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /households/{household_id}/person_medications/{person_medication_id}/dose_occurrences/reopen
     * Reopen a not-taken dose with manage access and a current version.
     * 
     * @param householdId 
     * @param personMedicationId 
     * @param ifMatch 
     * @param doseReopenRequest 
     * @param idempotencyKey  (optional)
     * @return DoseOccurrenceResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun reopenPersonMedicationDoseOccurrence(householdId: kotlin.Int, personMedicationId: kotlin.String, ifMatch: kotlin.String, doseReopenRequest: DoseReopenRequest, idempotencyKey: kotlin.String? = null) : DoseOccurrenceResponse {
        val localVarResponse = reopenPersonMedicationDoseOccurrenceWithHttpInfo(householdId = householdId, personMedicationId = personMedicationId, ifMatch = ifMatch, doseReopenRequest = doseReopenRequest, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DoseOccurrenceResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /households/{household_id}/person_medications/{person_medication_id}/dose_occurrences/reopen
     * Reopen a not-taken dose with manage access and a current version.
     * 
     * @param householdId 
     * @param personMedicationId 
     * @param ifMatch 
     * @param doseReopenRequest 
     * @param idempotencyKey  (optional)
     * @return ApiResponse<DoseOccurrenceResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun reopenPersonMedicationDoseOccurrenceWithHttpInfo(householdId: kotlin.Int, personMedicationId: kotlin.String, ifMatch: kotlin.String, doseReopenRequest: DoseReopenRequest, idempotencyKey: kotlin.String?) : ApiResponse<DoseOccurrenceResponse?> {
        val localVariableConfig = reopenPersonMedicationDoseOccurrenceRequestConfig(householdId = householdId, personMedicationId = personMedicationId, ifMatch = ifMatch, doseReopenRequest = doseReopenRequest, idempotencyKey = idempotencyKey)

        return request<DoseReopenRequest, DoseOccurrenceResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation reopenPersonMedicationDoseOccurrence
     *
     * @param householdId 
     * @param personMedicationId 
     * @param ifMatch 
     * @param doseReopenRequest 
     * @param idempotencyKey  (optional)
     * @return RequestConfig
     */
    fun reopenPersonMedicationDoseOccurrenceRequestConfig(householdId: kotlin.Int, personMedicationId: kotlin.String, ifMatch: kotlin.String, doseReopenRequest: DoseReopenRequest, idempotencyKey: kotlin.String?) : RequestConfig<DoseReopenRequest> {
        val localVariableBody = doseReopenRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        ifMatch.apply { localVariableHeaders["If-Match"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/households/{household_id}/person_medications/{person_medication_id}/dose_occurrences/reopen".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())).replace("{"+"person_medication_id"+"}", encodeURIComponent(personMedicationId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /households/{household_id}/person_medications/{id}/reorder
     * Reorder a person medication assignment.
     * 
     * @param householdId 
     * @param id 
     * @param personMedicationReorderRequest 
     * @return PersonMedicationResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun reorderPersonMedication(householdId: kotlin.Int, id: kotlin.String, personMedicationReorderRequest: PersonMedicationReorderRequest) : PersonMedicationResponse {
        val localVarResponse = reorderPersonMedicationWithHttpInfo(householdId = householdId, id = id, personMedicationReorderRequest = personMedicationReorderRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PersonMedicationResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /households/{household_id}/person_medications/{id}/reorder
     * Reorder a person medication assignment.
     * 
     * @param householdId 
     * @param id 
     * @param personMedicationReorderRequest 
     * @return ApiResponse<PersonMedicationResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun reorderPersonMedicationWithHttpInfo(householdId: kotlin.Int, id: kotlin.String, personMedicationReorderRequest: PersonMedicationReorderRequest) : ApiResponse<PersonMedicationResponse?> {
        val localVariableConfig = reorderPersonMedicationRequestConfig(householdId = householdId, id = id, personMedicationReorderRequest = personMedicationReorderRequest)

        return request<PersonMedicationReorderRequest, PersonMedicationResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation reorderPersonMedication
     *
     * @param householdId 
     * @param id 
     * @param personMedicationReorderRequest 
     * @return RequestConfig
     */
    fun reorderPersonMedicationRequestConfig(householdId: kotlin.Int, id: kotlin.String, personMedicationReorderRequest: PersonMedicationReorderRequest) : RequestConfig<PersonMedicationReorderRequest> {
        val localVariableBody = personMedicationReorderRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/households/{household_id}/person_medications/{id}/reorder".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())).replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /households/{household_id}/person_medications/{id}
     * Replace a person medication assignment.
     * 
     * @param householdId 
     * @param id 
     * @param personMedicationUpdateRequest 
     * @param ifMatch  (optional)
     * @return PersonMedicationResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun replacePersonMedication(householdId: kotlin.Int, id: kotlin.String, personMedicationUpdateRequest: PersonMedicationUpdateRequest, ifMatch: kotlin.String? = null) : PersonMedicationResponse {
        val localVarResponse = replacePersonMedicationWithHttpInfo(householdId = householdId, id = id, personMedicationUpdateRequest = personMedicationUpdateRequest, ifMatch = ifMatch)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PersonMedicationResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /households/{household_id}/person_medications/{id}
     * Replace a person medication assignment.
     * 
     * @param householdId 
     * @param id 
     * @param personMedicationUpdateRequest 
     * @param ifMatch  (optional)
     * @return ApiResponse<PersonMedicationResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun replacePersonMedicationWithHttpInfo(householdId: kotlin.Int, id: kotlin.String, personMedicationUpdateRequest: PersonMedicationUpdateRequest, ifMatch: kotlin.String?) : ApiResponse<PersonMedicationResponse?> {
        val localVariableConfig = replacePersonMedicationRequestConfig(householdId = householdId, id = id, personMedicationUpdateRequest = personMedicationUpdateRequest, ifMatch = ifMatch)

        return request<PersonMedicationUpdateRequest, PersonMedicationResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation replacePersonMedication
     *
     * @param householdId 
     * @param id 
     * @param personMedicationUpdateRequest 
     * @param ifMatch  (optional)
     * @return RequestConfig
     */
    fun replacePersonMedicationRequestConfig(householdId: kotlin.Int, id: kotlin.String, personMedicationUpdateRequest: PersonMedicationUpdateRequest, ifMatch: kotlin.String?) : RequestConfig<PersonMedicationUpdateRequest> {
        val localVariableBody = personMedicationUpdateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        ifMatch?.apply { localVariableHeaders["If-Match"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/households/{household_id}/person_medications/{id}".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())).replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /households/{household_id}/person_medications/{id}/resume
     * Resume a person medication assignment.
     * Use resumeMedicationPausePeriod. Retained for at least two minor releases and 90 days after the first released replacement. Legacy pause calls record reason_not_recorded.
     * @param householdId 
     * @param id 
     * @return PersonMedicationResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    @Deprecated(message = "This operation is deprecated.")
    fun resumePersonMedication(householdId: kotlin.Int, id: kotlin.String) : PersonMedicationResponse {
        @Suppress("DEPRECATION")
        val localVarResponse = resumePersonMedicationWithHttpInfo(householdId = householdId, id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PersonMedicationResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /households/{household_id}/person_medications/{id}/resume
     * Resume a person medication assignment.
     * Use resumeMedicationPausePeriod. Retained for at least two minor releases and 90 days after the first released replacement. Legacy pause calls record reason_not_recorded.
     * @param householdId 
     * @param id 
     * @return ApiResponse<PersonMedicationResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    @Deprecated(message = "This operation is deprecated.")
    fun resumePersonMedicationWithHttpInfo(householdId: kotlin.Int, id: kotlin.String) : ApiResponse<PersonMedicationResponse?> {
        @Suppress("DEPRECATION")
        val localVariableConfig = resumePersonMedicationRequestConfig(householdId = householdId, id = id)

        return request<Unit, PersonMedicationResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation resumePersonMedication
     *
     * @param householdId 
     * @param id 
     * @return RequestConfig
     */
    @Deprecated(message = "This operation is deprecated.")
    fun resumePersonMedicationRequestConfig(householdId: kotlin.Int, id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/households/{household_id}/person_medications/{id}/resume".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())).replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /households/{household_id}/person_medications/{person_medication_id}/dose_occurrences/take
     * Resolve a dose through normal administration while retaining former outcome history.
     * 
     * @param householdId 
     * @param personMedicationId 
     * @param doseTakeRequest 
     * @param idempotencyKey  (optional)
     * @param ifMatch Required when replacing a not-taken decision; must match its current outcome version. (optional)
     * @return DoseOccurrenceResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun takePersonMedicationDoseOccurrence(householdId: kotlin.Int, personMedicationId: kotlin.String, doseTakeRequest: DoseTakeRequest, idempotencyKey: kotlin.String? = null, ifMatch: kotlin.String? = null) : DoseOccurrenceResponse {
        val localVarResponse = takePersonMedicationDoseOccurrenceWithHttpInfo(householdId = householdId, personMedicationId = personMedicationId, doseTakeRequest = doseTakeRequest, idempotencyKey = idempotencyKey, ifMatch = ifMatch)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DoseOccurrenceResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /households/{household_id}/person_medications/{person_medication_id}/dose_occurrences/take
     * Resolve a dose through normal administration while retaining former outcome history.
     * 
     * @param householdId 
     * @param personMedicationId 
     * @param doseTakeRequest 
     * @param idempotencyKey  (optional)
     * @param ifMatch Required when replacing a not-taken decision; must match its current outcome version. (optional)
     * @return ApiResponse<DoseOccurrenceResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun takePersonMedicationDoseOccurrenceWithHttpInfo(householdId: kotlin.Int, personMedicationId: kotlin.String, doseTakeRequest: DoseTakeRequest, idempotencyKey: kotlin.String?, ifMatch: kotlin.String?) : ApiResponse<DoseOccurrenceResponse?> {
        val localVariableConfig = takePersonMedicationDoseOccurrenceRequestConfig(householdId = householdId, personMedicationId = personMedicationId, doseTakeRequest = doseTakeRequest, idempotencyKey = idempotencyKey, ifMatch = ifMatch)

        return request<DoseTakeRequest, DoseOccurrenceResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation takePersonMedicationDoseOccurrence
     *
     * @param householdId 
     * @param personMedicationId 
     * @param doseTakeRequest 
     * @param idempotencyKey  (optional)
     * @param ifMatch Required when replacing a not-taken decision; must match its current outcome version. (optional)
     * @return RequestConfig
     */
    fun takePersonMedicationDoseOccurrenceRequestConfig(householdId: kotlin.Int, personMedicationId: kotlin.String, doseTakeRequest: DoseTakeRequest, idempotencyKey: kotlin.String?, ifMatch: kotlin.String?) : RequestConfig<DoseTakeRequest> {
        val localVariableBody = doseTakeRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        ifMatch?.apply { localVariableHeaders["If-Match"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/households/{household_id}/person_medications/{person_medication_id}/dose_occurrences/take".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())).replace("{"+"person_medication_id"+"}", encodeURIComponent(personMedicationId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /households/{household_id}/person_medications/{id}
     * Update a person medication assignment.
     * 
     * @param householdId 
     * @param id 
     * @param personMedicationUpdateRequest 
     * @param ifMatch  (optional)
     * @return PersonMedicationResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updatePersonMedication(householdId: kotlin.Int, id: kotlin.String, personMedicationUpdateRequest: PersonMedicationUpdateRequest, ifMatch: kotlin.String? = null) : PersonMedicationResponse {
        val localVarResponse = updatePersonMedicationWithHttpInfo(householdId = householdId, id = id, personMedicationUpdateRequest = personMedicationUpdateRequest, ifMatch = ifMatch)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PersonMedicationResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /households/{household_id}/person_medications/{id}
     * Update a person medication assignment.
     * 
     * @param householdId 
     * @param id 
     * @param personMedicationUpdateRequest 
     * @param ifMatch  (optional)
     * @return ApiResponse<PersonMedicationResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updatePersonMedicationWithHttpInfo(householdId: kotlin.Int, id: kotlin.String, personMedicationUpdateRequest: PersonMedicationUpdateRequest, ifMatch: kotlin.String?) : ApiResponse<PersonMedicationResponse?> {
        val localVariableConfig = updatePersonMedicationRequestConfig(householdId = householdId, id = id, personMedicationUpdateRequest = personMedicationUpdateRequest, ifMatch = ifMatch)

        return request<PersonMedicationUpdateRequest, PersonMedicationResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updatePersonMedication
     *
     * @param householdId 
     * @param id 
     * @param personMedicationUpdateRequest 
     * @param ifMatch  (optional)
     * @return RequestConfig
     */
    fun updatePersonMedicationRequestConfig(householdId: kotlin.Int, id: kotlin.String, personMedicationUpdateRequest: PersonMedicationUpdateRequest, ifMatch: kotlin.String?) : RequestConfig<PersonMedicationUpdateRequest> {
        val localVariableBody = personMedicationUpdateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        ifMatch?.apply { localVariableHeaders["If-Match"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/households/{household_id}/person_medications/{id}".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())).replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
