/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package io.medtracker.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import io.medtracker.client.models.ErrorEnvelope
import io.medtracker.client.models.HealthHistoryReportResponse
import io.medtracker.client.models.MedicationReviewPromptStatus
import io.medtracker.client.models.MedicationReviewReportResponse
import io.medtracker.client.models.RateLimitErrorEnvelope

import com.squareup.moshi.Json

import io.medtracker.client.infrastructure.ApiClient
import io.medtracker.client.infrastructure.ApiResponse
import io.medtracker.client.infrastructure.ClientException
import io.medtracker.client.infrastructure.ClientError
import io.medtracker.client.infrastructure.ServerException
import io.medtracker.client.infrastructure.ServerError
import io.medtracker.client.infrastructure.MultiValueMap
import io.medtracker.client.infrastructure.PartConfig
import io.medtracker.client.infrastructure.RequestConfig
import io.medtracker.client.infrastructure.RequestMethod
import io.medtracker.client.infrastructure.ResponseType
import io.medtracker.client.infrastructure.Success
import io.medtracker.client.infrastructure.toMultiValue

open class ReportsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "/api/v1")
        }
    }

    /**
     * enum for parameter includeMedicationTakes
     */
     enum class IncludeMedicationTakesDownloadHealthHistoryReport(val value: kotlin.String) {
         @Json(name = "0") _0("0"),
         @Json(name = "1") _1("1"),
         @Json(name = "unknown_default_open_api") unknown_default_open_api("unknown_default_open_api");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /households/{household_id}/reports/health_history.pdf
     * Export health history for one manageable person.
     * 
     * @param householdId 
     * @param personId 
     * @param startDate ISO date; defaults to one year before the end date. The maximum difference between start and end is 366 days. (optional)
     * @param endDate ISO date; defaults to today. (optional)
     * @param includeMedicationTakes  (optional, default to IncludeMedicationTakes._0)
     * @return java.io.File
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun downloadHealthHistoryReport(householdId: kotlin.Int, personId: kotlin.String, startDate: java.time.LocalDate? = null, endDate: java.time.LocalDate? = null, includeMedicationTakes: IncludeMedicationTakesDownloadHealthHistoryReport? = IncludeMedicationTakesDownloadHealthHistoryReport._0) : java.io.File {
        val localVarResponse = downloadHealthHistoryReportWithHttpInfo(householdId = householdId, personId = personId, startDate = startDate, endDate = endDate, includeMedicationTakes = includeMedicationTakes)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as java.io.File
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /households/{household_id}/reports/health_history.pdf
     * Export health history for one manageable person.
     * 
     * @param householdId 
     * @param personId 
     * @param startDate ISO date; defaults to one year before the end date. The maximum difference between start and end is 366 days. (optional)
     * @param endDate ISO date; defaults to today. (optional)
     * @param includeMedicationTakes  (optional, default to IncludeMedicationTakes._0)
     * @return ApiResponse<java.io.File?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun downloadHealthHistoryReportWithHttpInfo(householdId: kotlin.Int, personId: kotlin.String, startDate: java.time.LocalDate?, endDate: java.time.LocalDate?, includeMedicationTakes: IncludeMedicationTakesDownloadHealthHistoryReport?) : ApiResponse<java.io.File?> {
        val localVariableConfig = downloadHealthHistoryReportRequestConfig(householdId = householdId, personId = personId, startDate = startDate, endDate = endDate, includeMedicationTakes = includeMedicationTakes)

        return request<Unit, java.io.File>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation downloadHealthHistoryReport
     *
     * @param householdId 
     * @param personId 
     * @param startDate ISO date; defaults to one year before the end date. The maximum difference between start and end is 366 days. (optional)
     * @param endDate ISO date; defaults to today. (optional)
     * @param includeMedicationTakes  (optional, default to IncludeMedicationTakes._0)
     * @return RequestConfig
     */
    fun downloadHealthHistoryReportRequestConfig(householdId: kotlin.Int, personId: kotlin.String, startDate: java.time.LocalDate?, endDate: java.time.LocalDate?, includeMedicationTakes: IncludeMedicationTakesDownloadHealthHistoryReport?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("person_id", listOf(personId.toString()))
                if (startDate != null) {
                    put("start_date", listOf(parseDateToQueryString(startDate)))
                }
                if (endDate != null) {
                    put("end_date", listOf(parseDateToQueryString(endDate)))
                }
                if (includeMedicationTakes != null) {
                    put("include_medication_takes", listOf(includeMedicationTakes.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/households/{household_id}/reports/health_history.pdf".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /households/{household_id}/reports/medication_reviews.pdf
     * Export current medicine reviews for one visible person.
     * 
     * @param householdId 
     * @param personId 
     * @param status Omit to use the web report&#39;s default visible queue. This is a current snapshot; date filters are not supported. (optional)
     * @return java.io.File
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun downloadMedicationReviewReport(householdId: kotlin.Int, personId: kotlin.String, status: MedicationReviewPromptStatus? = null) : java.io.File {
        val localVarResponse = downloadMedicationReviewReportWithHttpInfo(householdId = householdId, personId = personId, status = status)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as java.io.File
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /households/{household_id}/reports/medication_reviews.pdf
     * Export current medicine reviews for one visible person.
     * 
     * @param householdId 
     * @param personId 
     * @param status Omit to use the web report&#39;s default visible queue. This is a current snapshot; date filters are not supported. (optional)
     * @return ApiResponse<java.io.File?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun downloadMedicationReviewReportWithHttpInfo(householdId: kotlin.Int, personId: kotlin.String, status: MedicationReviewPromptStatus?) : ApiResponse<java.io.File?> {
        val localVariableConfig = downloadMedicationReviewReportRequestConfig(householdId = householdId, personId = personId, status = status)

        return request<Unit, java.io.File>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation downloadMedicationReviewReport
     *
     * @param householdId 
     * @param personId 
     * @param status Omit to use the web report&#39;s default visible queue. This is a current snapshot; date filters are not supported. (optional)
     * @return RequestConfig
     */
    fun downloadMedicationReviewReportRequestConfig(householdId: kotlin.Int, personId: kotlin.String, status: MedicationReviewPromptStatus?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("person_id", listOf(personId.toString()))
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/households/{household_id}/reports/medication_reviews.pdf".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter includeMedicationTakes
     */
     enum class IncludeMedicationTakesGetHealthHistoryReport(val value: kotlin.String) {
         @Json(name = "0") _0("0"),
         @Json(name = "1") _1("1"),
         @Json(name = "unknown_default_open_api") unknown_default_open_api("unknown_default_open_api");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /households/{household_id}/reports/health_history
     * Export health history for one manageable person.
     * 
     * @param householdId 
     * @param personId 
     * @param startDate ISO date; defaults to one year before the end date. The maximum difference between start and end is 366 days. (optional)
     * @param endDate ISO date; defaults to today. (optional)
     * @param includeMedicationTakes  (optional, default to IncludeMedicationTakes._0)
     * @return HealthHistoryReportResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getHealthHistoryReport(householdId: kotlin.Int, personId: kotlin.String, startDate: java.time.LocalDate? = null, endDate: java.time.LocalDate? = null, includeMedicationTakes: IncludeMedicationTakesGetHealthHistoryReport? = IncludeMedicationTakesGetHealthHistoryReport._0) : HealthHistoryReportResponse {
        val localVarResponse = getHealthHistoryReportWithHttpInfo(householdId = householdId, personId = personId, startDate = startDate, endDate = endDate, includeMedicationTakes = includeMedicationTakes)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as HealthHistoryReportResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /households/{household_id}/reports/health_history
     * Export health history for one manageable person.
     * 
     * @param householdId 
     * @param personId 
     * @param startDate ISO date; defaults to one year before the end date. The maximum difference between start and end is 366 days. (optional)
     * @param endDate ISO date; defaults to today. (optional)
     * @param includeMedicationTakes  (optional, default to IncludeMedicationTakes._0)
     * @return ApiResponse<HealthHistoryReportResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getHealthHistoryReportWithHttpInfo(householdId: kotlin.Int, personId: kotlin.String, startDate: java.time.LocalDate?, endDate: java.time.LocalDate?, includeMedicationTakes: IncludeMedicationTakesGetHealthHistoryReport?) : ApiResponse<HealthHistoryReportResponse?> {
        val localVariableConfig = getHealthHistoryReportRequestConfig(householdId = householdId, personId = personId, startDate = startDate, endDate = endDate, includeMedicationTakes = includeMedicationTakes)

        return request<Unit, HealthHistoryReportResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getHealthHistoryReport
     *
     * @param householdId 
     * @param personId 
     * @param startDate ISO date; defaults to one year before the end date. The maximum difference between start and end is 366 days. (optional)
     * @param endDate ISO date; defaults to today. (optional)
     * @param includeMedicationTakes  (optional, default to IncludeMedicationTakes._0)
     * @return RequestConfig
     */
    fun getHealthHistoryReportRequestConfig(householdId: kotlin.Int, personId: kotlin.String, startDate: java.time.LocalDate?, endDate: java.time.LocalDate?, includeMedicationTakes: IncludeMedicationTakesGetHealthHistoryReport?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("person_id", listOf(personId.toString()))
                if (startDate != null) {
                    put("start_date", listOf(parseDateToQueryString(startDate)))
                }
                if (endDate != null) {
                    put("end_date", listOf(parseDateToQueryString(endDate)))
                }
                if (includeMedicationTakes != null) {
                    put("include_medication_takes", listOf(includeMedicationTakes.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/households/{household_id}/reports/health_history".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /households/{household_id}/reports/medication_reviews
     * Export current medicine reviews for one visible person.
     * 
     * @param householdId 
     * @param personId 
     * @param status Omit to use the web report&#39;s default visible queue. This is a current snapshot; date filters are not supported. (optional)
     * @return MedicationReviewReportResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getMedicationReviewReport(householdId: kotlin.Int, personId: kotlin.String, status: MedicationReviewPromptStatus? = null) : MedicationReviewReportResponse {
        val localVarResponse = getMedicationReviewReportWithHttpInfo(householdId = householdId, personId = personId, status = status)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MedicationReviewReportResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /households/{household_id}/reports/medication_reviews
     * Export current medicine reviews for one visible person.
     * 
     * @param householdId 
     * @param personId 
     * @param status Omit to use the web report&#39;s default visible queue. This is a current snapshot; date filters are not supported. (optional)
     * @return ApiResponse<MedicationReviewReportResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getMedicationReviewReportWithHttpInfo(householdId: kotlin.Int, personId: kotlin.String, status: MedicationReviewPromptStatus?) : ApiResponse<MedicationReviewReportResponse?> {
        val localVariableConfig = getMedicationReviewReportRequestConfig(householdId = householdId, personId = personId, status = status)

        return request<Unit, MedicationReviewReportResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getMedicationReviewReport
     *
     * @param householdId 
     * @param personId 
     * @param status Omit to use the web report&#39;s default visible queue. This is a current snapshot; date filters are not supported. (optional)
     * @return RequestConfig
     */
    fun getMedicationReviewReportRequestConfig(householdId: kotlin.Int, personId: kotlin.String, status: MedicationReviewPromptStatus?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("person_id", listOf(personId.toString()))
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/households/{household_id}/reports/medication_reviews".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
