/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package io.medtracker.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import io.medtracker.client.models.DoseNotTakenRequest
import io.medtracker.client.models.DoseOccurrenceCollectionResponse
import io.medtracker.client.models.DoseOccurrenceResponse
import io.medtracker.client.models.DoseReopenRequest
import io.medtracker.client.models.DoseTakeRequest
import io.medtracker.client.models.ErrorEnvelope
import io.medtracker.client.models.MedicationPausePeriodCollectionResponse
import io.medtracker.client.models.MedicationPausePeriodCreateRequest
import io.medtracker.client.models.MedicationPausePeriodResponse
import io.medtracker.client.models.RateLimitErrorEnvelope
import io.medtracker.client.models.ScheduleCollectionResponse
import io.medtracker.client.models.ScheduleCreateRequest
import io.medtracker.client.models.ScheduleResponse
import io.medtracker.client.models.ScheduleUpdateRequest

import com.squareup.moshi.Json

import io.medtracker.client.infrastructure.ApiClient
import io.medtracker.client.infrastructure.ApiResponse
import io.medtracker.client.infrastructure.ClientException
import io.medtracker.client.infrastructure.ClientError
import io.medtracker.client.infrastructure.ServerException
import io.medtracker.client.infrastructure.ServerError
import io.medtracker.client.infrastructure.MultiValueMap
import io.medtracker.client.infrastructure.PartConfig
import io.medtracker.client.infrastructure.RequestConfig
import io.medtracker.client.infrastructure.RequestMethod
import io.medtracker.client.infrastructure.ResponseType
import io.medtracker.client.infrastructure.Success
import io.medtracker.client.infrastructure.toMultiValue

open class SchedulesApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "/api/v1")
        }
    }

    /**
     * POST /households/{household_id}/medication_pause_periods
     * Pause a medication source with a reason.
     * Requires manage access. The start is server acceptance time; client timestamps are ignored. An already open period is returned unchanged. No edit or backdating operation is provided.
     * @param householdId 
     * @param medicationPausePeriodCreateRequest 
     * @param idempotencyKey Replays the committed response for a matching request; reuse with different content returns conflict. (optional)
     * @return MedicationPausePeriodResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createMedicationPausePeriod(householdId: kotlin.Int, medicationPausePeriodCreateRequest: MedicationPausePeriodCreateRequest, idempotencyKey: kotlin.String? = null) : MedicationPausePeriodResponse {
        val localVarResponse = createMedicationPausePeriodWithHttpInfo(householdId = householdId, medicationPausePeriodCreateRequest = medicationPausePeriodCreateRequest, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MedicationPausePeriodResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /households/{household_id}/medication_pause_periods
     * Pause a medication source with a reason.
     * Requires manage access. The start is server acceptance time; client timestamps are ignored. An already open period is returned unchanged. No edit or backdating operation is provided.
     * @param householdId 
     * @param medicationPausePeriodCreateRequest 
     * @param idempotencyKey Replays the committed response for a matching request; reuse with different content returns conflict. (optional)
     * @return ApiResponse<MedicationPausePeriodResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createMedicationPausePeriodWithHttpInfo(householdId: kotlin.Int, medicationPausePeriodCreateRequest: MedicationPausePeriodCreateRequest, idempotencyKey: kotlin.String?) : ApiResponse<MedicationPausePeriodResponse?> {
        val localVariableConfig = createMedicationPausePeriodRequestConfig(householdId = householdId, medicationPausePeriodCreateRequest = medicationPausePeriodCreateRequest, idempotencyKey = idempotencyKey)

        return request<MedicationPausePeriodCreateRequest, MedicationPausePeriodResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createMedicationPausePeriod
     *
     * @param householdId 
     * @param medicationPausePeriodCreateRequest 
     * @param idempotencyKey Replays the committed response for a matching request; reuse with different content returns conflict. (optional)
     * @return RequestConfig
     */
    fun createMedicationPausePeriodRequestConfig(householdId: kotlin.Int, medicationPausePeriodCreateRequest: MedicationPausePeriodCreateRequest, idempotencyKey: kotlin.String?) : RequestConfig<MedicationPausePeriodCreateRequest> {
        val localVariableBody = medicationPausePeriodCreateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/households/{household_id}/medication_pause_periods".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /households/{household_id}/schedules
     * Create a schedule.
     * 
     * @param householdId 
     * @param scheduleCreateRequest 
     * @return ScheduleResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createSchedule(householdId: kotlin.Int, scheduleCreateRequest: ScheduleCreateRequest) : ScheduleResponse {
        val localVarResponse = createScheduleWithHttpInfo(householdId = householdId, scheduleCreateRequest = scheduleCreateRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ScheduleResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /households/{household_id}/schedules
     * Create a schedule.
     * 
     * @param householdId 
     * @param scheduleCreateRequest 
     * @return ApiResponse<ScheduleResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createScheduleWithHttpInfo(householdId: kotlin.Int, scheduleCreateRequest: ScheduleCreateRequest) : ApiResponse<ScheduleResponse?> {
        val localVariableConfig = createScheduleRequestConfig(householdId = householdId, scheduleCreateRequest = scheduleCreateRequest)

        return request<ScheduleCreateRequest, ScheduleResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createSchedule
     *
     * @param householdId 
     * @param scheduleCreateRequest 
     * @return RequestConfig
     */
    fun createScheduleRequestConfig(householdId: kotlin.Int, scheduleCreateRequest: ScheduleCreateRequest) : RequestConfig<ScheduleCreateRequest> {
        val localVariableBody = scheduleCreateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/households/{household_id}/schedules".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /households/{household_id}/schedules/{id}
     * Read a schedule.
     * 
     * @param householdId 
     * @param id 
     * @return ScheduleResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getSchedule(householdId: kotlin.Int, id: kotlin.String) : ScheduleResponse {
        val localVarResponse = getScheduleWithHttpInfo(householdId = householdId, id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ScheduleResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /households/{household_id}/schedules/{id}
     * Read a schedule.
     * 
     * @param householdId 
     * @param id 
     * @return ApiResponse<ScheduleResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getScheduleWithHttpInfo(householdId: kotlin.Int, id: kotlin.String) : ApiResponse<ScheduleResponse?> {
        val localVariableConfig = getScheduleRequestConfig(householdId = householdId, id = id)

        return request<Unit, ScheduleResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getSchedule
     *
     * @param householdId 
     * @param id 
     * @return RequestConfig
     */
    fun getScheduleRequestConfig(householdId: kotlin.Int, id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/households/{household_id}/schedules/{id}".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())).replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter sourceType
     */
     enum class SourceTypeListMedicationPausePeriods(val value: kotlin.String) {
         @Json(name = "schedule") schedule("schedule"),
         @Json(name = "person_medication") person_medication("person_medication"),
         @Json(name = "unknown_default_open_api") unknown_default_open_api("unknown_default_open_api");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /households/{household_id}/medication_pause_periods
     * List visible medication pause history.
     * Supply source_type and portable source_id together to select one source. Results include current and completed periods newest first by creation time, then ID, including history for retired sources. Retired sources cannot be paused or resumed.
     * @param householdId 
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param sourceType  (optional)
     * @param sourceId  (optional)
     * @return MedicationPausePeriodCollectionResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listMedicationPausePeriods(householdId: kotlin.Int, page: kotlin.Int? = 1, perPage: kotlin.Int? = 20, sourceType: SourceTypeListMedicationPausePeriods? = null, sourceId: java.util.UUID? = null) : MedicationPausePeriodCollectionResponse {
        val localVarResponse = listMedicationPausePeriodsWithHttpInfo(householdId = householdId, page = page, perPage = perPage, sourceType = sourceType, sourceId = sourceId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MedicationPausePeriodCollectionResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /households/{household_id}/medication_pause_periods
     * List visible medication pause history.
     * Supply source_type and portable source_id together to select one source. Results include current and completed periods newest first by creation time, then ID, including history for retired sources. Retired sources cannot be paused or resumed.
     * @param householdId 
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param sourceType  (optional)
     * @param sourceId  (optional)
     * @return ApiResponse<MedicationPausePeriodCollectionResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listMedicationPausePeriodsWithHttpInfo(householdId: kotlin.Int, page: kotlin.Int?, perPage: kotlin.Int?, sourceType: SourceTypeListMedicationPausePeriods?, sourceId: java.util.UUID?) : ApiResponse<MedicationPausePeriodCollectionResponse?> {
        val localVariableConfig = listMedicationPausePeriodsRequestConfig(householdId = householdId, page = page, perPage = perPage, sourceType = sourceType, sourceId = sourceId)

        return request<Unit, MedicationPausePeriodCollectionResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listMedicationPausePeriods
     *
     * @param householdId 
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param sourceType  (optional)
     * @param sourceId  (optional)
     * @return RequestConfig
     */
    fun listMedicationPausePeriodsRequestConfig(householdId: kotlin.Int, page: kotlin.Int?, perPage: kotlin.Int?, sourceType: SourceTypeListMedicationPausePeriods?, sourceId: java.util.UUID?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (perPage != null) {
                    put("per_page", listOf(perPage.toString()))
                }
                if (sourceType != null) {
                    put("source_type", listOf(sourceType.value))
                }
                if (sourceId != null) {
                    put("source_id", listOf(sourceId.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/households/{household_id}/medication_pause_periods".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /households/{household_id}/schedules/{schedule_id}/dose_occurrences
     * Read stable expected dose identities without creating history records.
     * 
     * @param householdId 
     * @param scheduleId 
     * @param startDate 
     * @param endDate Inclusive end date; the range must contain at most 31 days.
     * @return DoseOccurrenceCollectionResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listScheduleDoseOccurrences(householdId: kotlin.Int, scheduleId: kotlin.String, startDate: java.time.LocalDate, endDate: java.time.LocalDate) : DoseOccurrenceCollectionResponse {
        val localVarResponse = listScheduleDoseOccurrencesWithHttpInfo(householdId = householdId, scheduleId = scheduleId, startDate = startDate, endDate = endDate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DoseOccurrenceCollectionResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /households/{household_id}/schedules/{schedule_id}/dose_occurrences
     * Read stable expected dose identities without creating history records.
     * 
     * @param householdId 
     * @param scheduleId 
     * @param startDate 
     * @param endDate Inclusive end date; the range must contain at most 31 days.
     * @return ApiResponse<DoseOccurrenceCollectionResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listScheduleDoseOccurrencesWithHttpInfo(householdId: kotlin.Int, scheduleId: kotlin.String, startDate: java.time.LocalDate, endDate: java.time.LocalDate) : ApiResponse<DoseOccurrenceCollectionResponse?> {
        val localVariableConfig = listScheduleDoseOccurrencesRequestConfig(householdId = householdId, scheduleId = scheduleId, startDate = startDate, endDate = endDate)

        return request<Unit, DoseOccurrenceCollectionResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listScheduleDoseOccurrences
     *
     * @param householdId 
     * @param scheduleId 
     * @param startDate 
     * @param endDate Inclusive end date; the range must contain at most 31 days.
     * @return RequestConfig
     */
    fun listScheduleDoseOccurrencesRequestConfig(householdId: kotlin.Int, scheduleId: kotlin.String, startDate: java.time.LocalDate, endDate: java.time.LocalDate) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("start_date", listOf(parseDateToQueryString(startDate)))
                put("end_date", listOf(parseDateToQueryString(endDate)))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/households/{household_id}/schedules/{schedule_id}/dose_occurrences".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())).replace("{"+"schedule_id"+"}", encodeURIComponent(scheduleId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /households/{household_id}/schedules
     * List visible schedules.
     * 
     * @param householdId 
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param updatedSince  (optional)
     * @return ScheduleCollectionResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listSchedules(householdId: kotlin.Int, page: kotlin.Int? = 1, perPage: kotlin.Int? = 20, updatedSince: java.time.OffsetDateTime? = null) : ScheduleCollectionResponse {
        val localVarResponse = listSchedulesWithHttpInfo(householdId = householdId, page = page, perPage = perPage, updatedSince = updatedSince)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ScheduleCollectionResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /households/{household_id}/schedules
     * List visible schedules.
     * 
     * @param householdId 
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param updatedSince  (optional)
     * @return ApiResponse<ScheduleCollectionResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listSchedulesWithHttpInfo(householdId: kotlin.Int, page: kotlin.Int?, perPage: kotlin.Int?, updatedSince: java.time.OffsetDateTime?) : ApiResponse<ScheduleCollectionResponse?> {
        val localVariableConfig = listSchedulesRequestConfig(householdId = householdId, page = page, perPage = perPage, updatedSince = updatedSince)

        return request<Unit, ScheduleCollectionResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listSchedules
     *
     * @param householdId 
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param updatedSince  (optional)
     * @return RequestConfig
     */
    fun listSchedulesRequestConfig(householdId: kotlin.Int, page: kotlin.Int?, perPage: kotlin.Int?, updatedSince: java.time.OffsetDateTime?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (perPage != null) {
                    put("per_page", listOf(perPage.toString()))
                }
                if (updatedSince != null) {
                    put("updated_since", listOf(parseDateToQueryString(updatedSince)))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/households/{household_id}/schedules".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /households/{household_id}/schedules/{id}/pause
     * Pause a schedule.
     * Use createMedicationPausePeriod. Retained for at least two minor releases and 90 days after the first released replacement. Legacy pause calls record reason_not_recorded.
     * @param householdId 
     * @param id 
     * @return ScheduleResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    @Deprecated(message = "This operation is deprecated.")
    fun pauseSchedule(householdId: kotlin.Int, id: kotlin.String) : ScheduleResponse {
        @Suppress("DEPRECATION")
        val localVarResponse = pauseScheduleWithHttpInfo(householdId = householdId, id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ScheduleResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /households/{household_id}/schedules/{id}/pause
     * Pause a schedule.
     * Use createMedicationPausePeriod. Retained for at least two minor releases and 90 days after the first released replacement. Legacy pause calls record reason_not_recorded.
     * @param householdId 
     * @param id 
     * @return ApiResponse<ScheduleResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    @Deprecated(message = "This operation is deprecated.")
    fun pauseScheduleWithHttpInfo(householdId: kotlin.Int, id: kotlin.String) : ApiResponse<ScheduleResponse?> {
        @Suppress("DEPRECATION")
        val localVariableConfig = pauseScheduleRequestConfig(householdId = householdId, id = id)

        return request<Unit, ScheduleResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation pauseSchedule
     *
     * @param householdId 
     * @param id 
     * @return RequestConfig
     */
    @Deprecated(message = "This operation is deprecated.")
    fun pauseScheduleRequestConfig(householdId: kotlin.Int, id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/households/{household_id}/schedules/{id}/pause".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())).replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /households/{household_id}/schedules/{schedule_id}/dose_occurrences/not_taken
     * Record due non-administration without creating a take or reducing stock.
     * 
     * @param householdId 
     * @param scheduleId 
     * @param doseNotTakenRequest 
     * @param idempotencyKey  (optional)
     * @return DoseOccurrenceResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun recordScheduleDoseNotTaken(householdId: kotlin.Int, scheduleId: kotlin.String, doseNotTakenRequest: DoseNotTakenRequest, idempotencyKey: kotlin.String? = null) : DoseOccurrenceResponse {
        val localVarResponse = recordScheduleDoseNotTakenWithHttpInfo(householdId = householdId, scheduleId = scheduleId, doseNotTakenRequest = doseNotTakenRequest, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DoseOccurrenceResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /households/{household_id}/schedules/{schedule_id}/dose_occurrences/not_taken
     * Record due non-administration without creating a take or reducing stock.
     * 
     * @param householdId 
     * @param scheduleId 
     * @param doseNotTakenRequest 
     * @param idempotencyKey  (optional)
     * @return ApiResponse<DoseOccurrenceResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun recordScheduleDoseNotTakenWithHttpInfo(householdId: kotlin.Int, scheduleId: kotlin.String, doseNotTakenRequest: DoseNotTakenRequest, idempotencyKey: kotlin.String?) : ApiResponse<DoseOccurrenceResponse?> {
        val localVariableConfig = recordScheduleDoseNotTakenRequestConfig(householdId = householdId, scheduleId = scheduleId, doseNotTakenRequest = doseNotTakenRequest, idempotencyKey = idempotencyKey)

        return request<DoseNotTakenRequest, DoseOccurrenceResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation recordScheduleDoseNotTaken
     *
     * @param householdId 
     * @param scheduleId 
     * @param doseNotTakenRequest 
     * @param idempotencyKey  (optional)
     * @return RequestConfig
     */
    fun recordScheduleDoseNotTakenRequestConfig(householdId: kotlin.Int, scheduleId: kotlin.String, doseNotTakenRequest: DoseNotTakenRequest, idempotencyKey: kotlin.String?) : RequestConfig<DoseNotTakenRequest> {
        val localVariableBody = doseNotTakenRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/households/{household_id}/schedules/{schedule_id}/dose_occurrences/not_taken".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())).replace("{"+"schedule_id"+"}", encodeURIComponent(scheduleId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /households/{household_id}/schedules/{schedule_id}/dose_occurrences/reopen
     * Reopen a not-taken dose with manage access and a current version.
     * 
     * @param householdId 
     * @param scheduleId 
     * @param ifMatch 
     * @param doseReopenRequest 
     * @param idempotencyKey  (optional)
     * @return DoseOccurrenceResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun reopenScheduleDoseOccurrence(householdId: kotlin.Int, scheduleId: kotlin.String, ifMatch: kotlin.String, doseReopenRequest: DoseReopenRequest, idempotencyKey: kotlin.String? = null) : DoseOccurrenceResponse {
        val localVarResponse = reopenScheduleDoseOccurrenceWithHttpInfo(householdId = householdId, scheduleId = scheduleId, ifMatch = ifMatch, doseReopenRequest = doseReopenRequest, idempotencyKey = idempotencyKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DoseOccurrenceResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /households/{household_id}/schedules/{schedule_id}/dose_occurrences/reopen
     * Reopen a not-taken dose with manage access and a current version.
     * 
     * @param householdId 
     * @param scheduleId 
     * @param ifMatch 
     * @param doseReopenRequest 
     * @param idempotencyKey  (optional)
     * @return ApiResponse<DoseOccurrenceResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun reopenScheduleDoseOccurrenceWithHttpInfo(householdId: kotlin.Int, scheduleId: kotlin.String, ifMatch: kotlin.String, doseReopenRequest: DoseReopenRequest, idempotencyKey: kotlin.String?) : ApiResponse<DoseOccurrenceResponse?> {
        val localVariableConfig = reopenScheduleDoseOccurrenceRequestConfig(householdId = householdId, scheduleId = scheduleId, ifMatch = ifMatch, doseReopenRequest = doseReopenRequest, idempotencyKey = idempotencyKey)

        return request<DoseReopenRequest, DoseOccurrenceResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation reopenScheduleDoseOccurrence
     *
     * @param householdId 
     * @param scheduleId 
     * @param ifMatch 
     * @param doseReopenRequest 
     * @param idempotencyKey  (optional)
     * @return RequestConfig
     */
    fun reopenScheduleDoseOccurrenceRequestConfig(householdId: kotlin.Int, scheduleId: kotlin.String, ifMatch: kotlin.String, doseReopenRequest: DoseReopenRequest, idempotencyKey: kotlin.String?) : RequestConfig<DoseReopenRequest> {
        val localVariableBody = doseReopenRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        ifMatch.apply { localVariableHeaders["If-Match"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/households/{household_id}/schedules/{schedule_id}/dose_occurrences/reopen".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())).replace("{"+"schedule_id"+"}", encodeURIComponent(scheduleId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /households/{household_id}/schedules/{id}
     * Replace a schedule.
     * 
     * @param householdId 
     * @param id 
     * @param scheduleUpdateRequest 
     * @param ifMatch  (optional)
     * @return ScheduleResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun replaceSchedule(householdId: kotlin.Int, id: kotlin.String, scheduleUpdateRequest: ScheduleUpdateRequest, ifMatch: kotlin.String? = null) : ScheduleResponse {
        val localVarResponse = replaceScheduleWithHttpInfo(householdId = householdId, id = id, scheduleUpdateRequest = scheduleUpdateRequest, ifMatch = ifMatch)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ScheduleResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /households/{household_id}/schedules/{id}
     * Replace a schedule.
     * 
     * @param householdId 
     * @param id 
     * @param scheduleUpdateRequest 
     * @param ifMatch  (optional)
     * @return ApiResponse<ScheduleResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun replaceScheduleWithHttpInfo(householdId: kotlin.Int, id: kotlin.String, scheduleUpdateRequest: ScheduleUpdateRequest, ifMatch: kotlin.String?) : ApiResponse<ScheduleResponse?> {
        val localVariableConfig = replaceScheduleRequestConfig(householdId = householdId, id = id, scheduleUpdateRequest = scheduleUpdateRequest, ifMatch = ifMatch)

        return request<ScheduleUpdateRequest, ScheduleResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation replaceSchedule
     *
     * @param householdId 
     * @param id 
     * @param scheduleUpdateRequest 
     * @param ifMatch  (optional)
     * @return RequestConfig
     */
    fun replaceScheduleRequestConfig(householdId: kotlin.Int, id: kotlin.String, scheduleUpdateRequest: ScheduleUpdateRequest, ifMatch: kotlin.String?) : RequestConfig<ScheduleUpdateRequest> {
        val localVariableBody = scheduleUpdateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        ifMatch?.apply { localVariableHeaders["If-Match"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/households/{household_id}/schedules/{id}".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())).replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /households/{household_id}/medication_pause_periods/{id}/resume
     * Resume the source for a recorded pause period.
     * Requires manage access. Ends the addressed period at server acceptance time. Retrying a completed period returns it unchanged and cannot close a newer pause. The original reason, note and recording actor remain intact.
     * @param householdId 
     * @param id 
     * @param idempotencyKey Replays the committed response for a matching request; reuse with different content returns conflict. (optional)
     * @param ifMatch  (optional)
     * @return MedicationPausePeriodResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun resumeMedicationPausePeriod(householdId: kotlin.Int, id: java.util.UUID, idempotencyKey: kotlin.String? = null, ifMatch: kotlin.String? = null) : MedicationPausePeriodResponse {
        val localVarResponse = resumeMedicationPausePeriodWithHttpInfo(householdId = householdId, id = id, idempotencyKey = idempotencyKey, ifMatch = ifMatch)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MedicationPausePeriodResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /households/{household_id}/medication_pause_periods/{id}/resume
     * Resume the source for a recorded pause period.
     * Requires manage access. Ends the addressed period at server acceptance time. Retrying a completed period returns it unchanged and cannot close a newer pause. The original reason, note and recording actor remain intact.
     * @param householdId 
     * @param id 
     * @param idempotencyKey Replays the committed response for a matching request; reuse with different content returns conflict. (optional)
     * @param ifMatch  (optional)
     * @return ApiResponse<MedicationPausePeriodResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun resumeMedicationPausePeriodWithHttpInfo(householdId: kotlin.Int, id: java.util.UUID, idempotencyKey: kotlin.String?, ifMatch: kotlin.String?) : ApiResponse<MedicationPausePeriodResponse?> {
        val localVariableConfig = resumeMedicationPausePeriodRequestConfig(householdId = householdId, id = id, idempotencyKey = idempotencyKey, ifMatch = ifMatch)

        return request<Unit, MedicationPausePeriodResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation resumeMedicationPausePeriod
     *
     * @param householdId 
     * @param id 
     * @param idempotencyKey Replays the committed response for a matching request; reuse with different content returns conflict. (optional)
     * @param ifMatch  (optional)
     * @return RequestConfig
     */
    fun resumeMedicationPausePeriodRequestConfig(householdId: kotlin.Int, id: java.util.UUID, idempotencyKey: kotlin.String?, ifMatch: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        ifMatch?.apply { localVariableHeaders["If-Match"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/households/{household_id}/medication_pause_periods/{id}/resume".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())).replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /households/{household_id}/schedules/{id}/resume
     * Resume a schedule.
     * Use resumeMedicationPausePeriod. Retained for at least two minor releases and 90 days after the first released replacement. Legacy pause calls record reason_not_recorded.
     * @param householdId 
     * @param id 
     * @return ScheduleResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    @Deprecated(message = "This operation is deprecated.")
    fun resumeSchedule(householdId: kotlin.Int, id: kotlin.String) : ScheduleResponse {
        @Suppress("DEPRECATION")
        val localVarResponse = resumeScheduleWithHttpInfo(householdId = householdId, id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ScheduleResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /households/{household_id}/schedules/{id}/resume
     * Resume a schedule.
     * Use resumeMedicationPausePeriod. Retained for at least two minor releases and 90 days after the first released replacement. Legacy pause calls record reason_not_recorded.
     * @param householdId 
     * @param id 
     * @return ApiResponse<ScheduleResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    @Deprecated(message = "This operation is deprecated.")
    fun resumeScheduleWithHttpInfo(householdId: kotlin.Int, id: kotlin.String) : ApiResponse<ScheduleResponse?> {
        @Suppress("DEPRECATION")
        val localVariableConfig = resumeScheduleRequestConfig(householdId = householdId, id = id)

        return request<Unit, ScheduleResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation resumeSchedule
     *
     * @param householdId 
     * @param id 
     * @return RequestConfig
     */
    @Deprecated(message = "This operation is deprecated.")
    fun resumeScheduleRequestConfig(householdId: kotlin.Int, id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/households/{household_id}/schedules/{id}/resume".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())).replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /households/{household_id}/schedules/{schedule_id}/dose_occurrences/take
     * Resolve a dose through normal administration while retaining former outcome history.
     * 
     * @param householdId 
     * @param scheduleId 
     * @param doseTakeRequest 
     * @param idempotencyKey  (optional)
     * @param ifMatch Required when replacing a not-taken decision; must match its current outcome version. (optional)
     * @return DoseOccurrenceResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun takeScheduleDoseOccurrence(householdId: kotlin.Int, scheduleId: kotlin.String, doseTakeRequest: DoseTakeRequest, idempotencyKey: kotlin.String? = null, ifMatch: kotlin.String? = null) : DoseOccurrenceResponse {
        val localVarResponse = takeScheduleDoseOccurrenceWithHttpInfo(householdId = householdId, scheduleId = scheduleId, doseTakeRequest = doseTakeRequest, idempotencyKey = idempotencyKey, ifMatch = ifMatch)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DoseOccurrenceResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /households/{household_id}/schedules/{schedule_id}/dose_occurrences/take
     * Resolve a dose through normal administration while retaining former outcome history.
     * 
     * @param householdId 
     * @param scheduleId 
     * @param doseTakeRequest 
     * @param idempotencyKey  (optional)
     * @param ifMatch Required when replacing a not-taken decision; must match its current outcome version. (optional)
     * @return ApiResponse<DoseOccurrenceResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun takeScheduleDoseOccurrenceWithHttpInfo(householdId: kotlin.Int, scheduleId: kotlin.String, doseTakeRequest: DoseTakeRequest, idempotencyKey: kotlin.String?, ifMatch: kotlin.String?) : ApiResponse<DoseOccurrenceResponse?> {
        val localVariableConfig = takeScheduleDoseOccurrenceRequestConfig(householdId = householdId, scheduleId = scheduleId, doseTakeRequest = doseTakeRequest, idempotencyKey = idempotencyKey, ifMatch = ifMatch)

        return request<DoseTakeRequest, DoseOccurrenceResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation takeScheduleDoseOccurrence
     *
     * @param householdId 
     * @param scheduleId 
     * @param doseTakeRequest 
     * @param idempotencyKey  (optional)
     * @param ifMatch Required when replacing a not-taken decision; must match its current outcome version. (optional)
     * @return RequestConfig
     */
    fun takeScheduleDoseOccurrenceRequestConfig(householdId: kotlin.Int, scheduleId: kotlin.String, doseTakeRequest: DoseTakeRequest, idempotencyKey: kotlin.String?, ifMatch: kotlin.String?) : RequestConfig<DoseTakeRequest> {
        val localVariableBody = doseTakeRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        idempotencyKey?.apply { localVariableHeaders["Idempotency-Key"] = this.toString() }
        ifMatch?.apply { localVariableHeaders["If-Match"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/households/{household_id}/schedules/{schedule_id}/dose_occurrences/take".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())).replace("{"+"schedule_id"+"}", encodeURIComponent(scheduleId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /households/{household_id}/schedules/{id}
     * Update a schedule.
     * 
     * @param householdId 
     * @param id 
     * @param scheduleUpdateRequest 
     * @param ifMatch  (optional)
     * @return ScheduleResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateSchedule(householdId: kotlin.Int, id: kotlin.String, scheduleUpdateRequest: ScheduleUpdateRequest, ifMatch: kotlin.String? = null) : ScheduleResponse {
        val localVarResponse = updateScheduleWithHttpInfo(householdId = householdId, id = id, scheduleUpdateRequest = scheduleUpdateRequest, ifMatch = ifMatch)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ScheduleResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /households/{household_id}/schedules/{id}
     * Update a schedule.
     * 
     * @param householdId 
     * @param id 
     * @param scheduleUpdateRequest 
     * @param ifMatch  (optional)
     * @return ApiResponse<ScheduleResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateScheduleWithHttpInfo(householdId: kotlin.Int, id: kotlin.String, scheduleUpdateRequest: ScheduleUpdateRequest, ifMatch: kotlin.String?) : ApiResponse<ScheduleResponse?> {
        val localVariableConfig = updateScheduleRequestConfig(householdId = householdId, id = id, scheduleUpdateRequest = scheduleUpdateRequest, ifMatch = ifMatch)

        return request<ScheduleUpdateRequest, ScheduleResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateSchedule
     *
     * @param householdId 
     * @param id 
     * @param scheduleUpdateRequest 
     * @param ifMatch  (optional)
     * @return RequestConfig
     */
    fun updateScheduleRequestConfig(householdId: kotlin.Int, id: kotlin.String, scheduleUpdateRequest: ScheduleUpdateRequest, ifMatch: kotlin.String?) : RequestConfig<ScheduleUpdateRequest> {
        val localVariableBody = scheduleUpdateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        ifMatch?.apply { localVariableHeaders["If-Match"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/households/{household_id}/schedules/{id}".replace("{"+"household_id"+"}", encodeURIComponent(householdId.toString())).replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
