---
# Database configuration for MedTracker
# All environments use DATABASE_URL environment variable

development:
  adapter: postgresql
  url: <%= ENV['DATABASE_URL'] %>

test:
  adapter: postgresql
  url: <%= ENV['DATABASE_URL'] %>

production:
  primary:
    adapter: postgresql
    url: <%= ENV['DATABASE_URL'] %>
  cache:
    adapter: postgresql
    url: <%= ENV.fetch('SOLID_CACHE_DATABASE_URL') { ENV['DATABASE_URL']&.gsub(/\/[^\/]+$/, '/medtracker_production_cache') } %>
    migrations_paths: db/cache_migrate
  queue:
    adapter: postgresql
    url: <%= ENV.fetch('SOLID_QUEUE_DATABASE_URL') { ENV['DATABASE_URL']&.gsub(/\/[^\/]+$/, '/medtracker_production_queue') } %>
    migrations_paths: db/queue_migrate
  cable:
    adapter: postgresql
    url: <%= ENV.fetch('SOLID_CABLE_DATABASE_URL') { ENV['DATABASE_URL']&.gsub(/\/[^\/]+$/, '/medtracker_production_cable') } %>
    migrations_paths: db/cable_migrate
