---
name: Playwright Tests
'on':
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  playwright:
    name: Playwright Tests
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4.1'
          bundler-cache: true

      - name: Install Playwright
        run: npx playwright install --with-deps chromium

      - name: Set up database
        run: |
          bundle exec rails db:create
          bundle exec rails db:schema:load

      - name: Precompile assets
        run: bundle exec rails assets:precompile
        env:
          RAILS_ENV: test

      - name: Run all tests
        run: bundle exec rspec --format RSpec::Github::Formatter
        env:
          RAILS_ENV: test
